body{
    font-family: 'Rubik', sans-serif;
    font-size:14px;
}
ul{
    margin:0;
    padding:0;
}
ul li{
 list-style-type: none;
}
a:hover{
    text-decoration: none;
}
img{
    width:100%;
}
.logo{
    width:146px;
    transition: .5s all;
}
.logo .scrollLogo{
    display:none
}
.logo:hover{
    transform: scale(1.1);
    transition: .5s all;
}
.topHeader{
    width:100%;
    background-color:#151515;
    height:52px;
}
.contactInfo{
    padding:17px 0;
}
header{
    position: relative;
    z-index: 99999999;
}

.topHeader .contactInfo i{
    color: #4EC6E1;
    font-size:16px;
vertical-align: middle;
}
.headerSocial li{
    display: inline-block;
    padding:18px;
    border-left:1px solid #707070;

}
.headerSocial li i{
    color:white;
}
.headerSocial li:hover i{
    color:#28EFEF;
}
.btn.langBtn{
    box-shadow: none;
    color:white;
    padding:0;
    line-height: 1;
    font-size: 14px;
    font-weight: 300;
}
.langBtn:hover,.langBtn:focus{
    box-shadow: none;
    color:white;
}
.contactInfo span,.contactInfo a{
font-size:14px;
font-weight: 300;
color:rgba(255,255,255,.5);
margin-right:26px;
}
.menuBar{
    height:100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.navbar {
    padding:20px 0;
    width:100%;
}
.headerSocial .dropdown-menu.show{
background-color: #151515;
color:white;
left: -17px !important;
}
.headerSocial .dropdown-item{
    color:white;
    font-size: 14px;;
}
.headerSocial .dropdown-item:hover{
    background-color: #4EC6E1;
}
.nav-link{
    text-transform: capitalize;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
    color:#1E1713;
    padding:11px;
    position: relative;
    font-weight: 300;
    text-transform: capitalize;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:black;
}
.scrollNav {
    top: 0 !important ;
    z-index: 555;
    transition-duration: 1s;
    background-color:white;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 7px 3px;
    left: 0;
    width:100%;
    height:90px;
}

.nav-link.active:before , .nav-link:hover:before{
    width:30%;
    transition: .5s ease-in-out;
}
.loginLink{
    width:100px;
    height:50px;
    display: inline-block;
    border-radius: 3px;
    border:1px solid #B8B8B8;
    text-align: center;
    margin-right:15px;
    cursor: pointer;
}
.loginLink a{
    font-size: 14px;
    color:#747474;
    line-height: 50px;;
}
.loginLink:hover{
    background-image:linear-gradient(45deg ,#31398B ,#28EFEF) ;
}
.loginLink:hover a{
    color:white;
}
/*********************************************/
.slider-section{ 
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    height:650px;
}
.slider-section .overlay{
    z-index: 1;
}
.overlaycar{
  
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top:0;
    left:0;

}

.slider-section .carousel-inner .carousel-item{
width: 100%;
height: 100%;
position: relative;
}
.slider-section .carousel-inner .carousel-item img{
width: 100%;
height: 100%;
}
.carousel-inner .carousel-caption{
    top: 15%;
}
.carousel-caption {
bottom: 25%;
}
.capCont{
    width:35%;
}

.carousel-caption h1{
font-size: 32px;
text-transform: capitalize;
letter-spacing: 1px;
margin-bottom: 20px;
visibility: visible;
font-family: 'Oswald', sans-serif;
-webkit-animation-delay: .6s;
 -moz-animation-delay: .6s;
 animation-delay: .6s;
}
.carousel-caption p{
font-size: 16px;
color: white;
visibility: visible;
-webkit-animation-delay: .8s; 
-moz-animation-delay: .8s; 
animation-delay: .8s;
margin-bottom:67px;
}
.carousel-control-prev,
.carousel-control-next{
top: 50%;
width: 50px;
height:50px;
visibility: hidden;
border-radius: 3px;
background-color:rgba(0,0,0,.3)
}
.carousel-control-prev {
left: 5%;

}
.carousel-control-next {
right:5%;

}
.carousel-control-prev :hover,
.carousel-control-next:hover{
background-color: #007bff;
border: 2px solid #007bff;
transition: all 0.3s ease-in-out 0s;
}
.slider-section:hover .carousel-control-prev,
.slider-section:hover .carousel-control-next{
visibility:visible;
transition: all 0.3s ease-in-out 0s;
z-index: 2;
opacity: 1;
}
.carousel-indicators{
    bottom:80px;
}
.carousel-indicators li{
    width:10px;
    height: 11px;
    border-radius: 50%;
    bottom:13%;
}
.viewDetaisl:hover{
    background-color:white;
    color:#1E1713;
    
}
.viewDetaisl{
    font-size:14px;
 color:white;
     border-radius: 5px;;
     padding:12px 15px;
}
.TeccoinBox{
    position: absolute;
    background-color: white;
    padding:28px 25px;
    right:-1%;
    top:15%;
}
.TeccoinImg{
    margin:0 auto;
    margin-bottom:20px;
}
.TeccoinImg .t{
    background-color:#282E6A;
    width:44px;
    height:44px;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    font-size:29px;
    margin-right:10px;
}
.TeccoinImg .Teccoin{
    font-size:24px;
    color:#1E1713;
    font-weight: 300;;
}
.TeccoinImg .Teccoin span{
    font-weight: 500;
}
.TeccoinBox table{
    width:100%;
}
.TeccoinBox table tr {
    margin-top:25px;
}
.tableTitle{
    font-size:14px;
    color:rgba(0,0,0,.6)
}
.tableDesc{
    font-size:14px;
    color:#1E1713;
}
.tableimg{
    width:26px;
    display: inline-block
}
/**end slider*/
/*SearchBox*/
.searchBox{
    width:100%;
    margin-top:-85px;
    background-color: white;
    padding:40px 30px;
    z-index: 22;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.selectric-wrapper {
    width: 22%;
    display: inline-block;
    margin-right: 4%;
border-radius: 3px;
border:2px solid #ECECEC;
height: 50px !important;
}
.searchBox .selectric-wrapper:last-child{
    margin-right:0;
}
.selectric .label{
    font-size:14px;
    color:#959595;
}
.selectric-items li:hover {
    color: #28EFEF
}
.selectric-items li.selected {
    color: #959595;
}
.selectric-items {
    box-shadow: none;
}
.slider.slider-horizontal{
    height:3px;
    margin-top:11px;
    width:100%;
}
.slider.slider-horizontal .slider-track{
    height:3px;
}
.rangSliderSec{
    margin-top:35px;
}
.slider-handle{
    background-image: none;

    width:5px;
    height:5px;
    top: -7px;
    background-color: white !important;
    border:6px solid #4EC6E1;  
}
.slider-track{
    background-image:none;
    background-color:#ECECEC;
}
.FirstSlider{
    width:330;
    display: inline-block;
    margin-right:24px;
}
.FirstSlider:last-child{
    margin-right:0;
}
.slider-selection{
    background-image: none;

    background-color: #4EC6E1;
}
.sliderTitle{
    color:#959595;
    font-size:14px;
    margin-bottom:11px;
}
.selectionSect{
    height:50px;
}
.sliderTitle span{
 color:black;
 font-weight: 500;
}
.sliderTitle span .t{
    border:1px solid black;
    border-radius: 50%;;
    width: 14px;
    height: 14px;
    text-align: center;
    /* vertical-align: text-top; */
    line-height: 14px;
}
.horizLine{
    width:95%;
    border-top:2px solid #ECECEC;
    margin:0 auto;
    margin-top:35px;
    padding:0 30px;
}
.mainTitle{
    font-size:35px;
    font-weight: 500;
    color:#171D70;
}
#aboutus{
    padding-top:80px;
}
.aboutimg{
    margin-top:60px;
    margin-bottom:106px;
}
.ourIcon{
    background-color: #282E6A;
    width:68px;
    height:68px;
    border-radius: 50%;
    padding:15px;
    margin:0 auto;
    margin-bottom: 35px;
 
}
.ourIcon img{
    box-shadow: 0 2px 42px #171D70;

}
#ourMission{
    padding: 115px 0;
}
.ourTitle{
    font-size: 24px;
    color:#222D39;
    margin-bottom:20px;
}
.ourSec p{
    font-size :14px;
    color:#959595;
    margin-bottom: 45px;;
}
.ourSec a{
    color:#171D70;
    font-size: 13px;;
}
#danaMiddle{
    padding:65px 0;
    background-color:#282E6A;
}
.danaTxt{
    padding-top:112px;
}
.danaTxt h2{
    color:white;
    font-size:32px;
    font-weight: 500;;
    margin-bottom:20px;
}.danaTxt p{
    font-size:14px;
    color:#949AF1;
}
.danaTxt a{
    color:white;
    font-size:13px;
}

/***************************************/
#investment{
padding-top:112px;
}
#investment .sectionTitle{
    margin-bottom:83px;
}
.card.investmentBox{
    border:0;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 0;;
    position: relative;
    margin-bottom:60px;
    height:365px;
    overflow: hidden;
}
.investmentBox .card-img-top{
    width:100%;
    height:65%;
    overflow:hidden;
    border-radius: 0;

}
.investmentBox .card-body{padding:44px 17px 26px;}
.investmentBox .card-body h4{
font-size:20px;
font-weight: 500;
color:#222D39;
transition: all .5s;;
} 


.arrowLink{
    position: absolute;
    width:71px;
    height:71px;
    border-radius: 50%;
    background-color:white;
    top: 54%;
    right: 20px;
    box-shadow: 0 5px 30px rgba(0,0,0,.1);
    text-align: center;
    padding:25px 22px;
    transition: all .5s;;
    cursor: pointer;
}
.investmentBox:hover .arrowLink{
    box-shadow: 0 5px 30px rgba(0,0,0,.3);
    transition: all .5s;;
}
 .arrowLink:hover img{
    transform:scale(1.2);
    transition: all .5s;
}
#investment .horizLine{
    margin-top:65px;
}
#Consortium{
    padding-top:115px;
}
.ConsortiumBox{
background-color:#FCFCFC;
padding:50px 20px;
text-align: center;
border:2px solid #ECECEC;
height:320px;
overflow: hidden;
}
#Consortium .sectionTitle{
    margin-bottom:80px;
} 
#Consortium .col-lg-2 {
    flex: 0 0 19.8888888888888%;
    max-width: 19.8888888888888%;
}
.ConsortiumIcon{
    margin:0 auto;
    width:68px;
    height:68px;
    border-radius: 50%;;
    padding:18px;
    background-color: white;;
    margin-bottom:52px;
    box-shadow: 0 2px 15px rgba(23, 29, 112, .36);
}

.ConsortiumBox h4{
font-size:20px;
color:#222D39;
}
.loginLink.joinbtn{
    margin-top:60px;
}
.ConsortiumBox:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    transition: all .5s;
}

#Consortium .horizLine{
    margin-top:92px;
}
#chartSection{
    padding:143px 0 116px 0
}
.chartTitle{
font-size:32px;
font-weight: 500;
color:#171D70;
margin-bottom:40px;
}
#chartSection p{
    font-size :14px;
    color:#959595
}
#chartSection a{
    font-size:13px;
    color:#171D70

}
#join{
    background-image:url("../images/joinbg.png");
    padding:100px 0;
    position: relative;
    background-size: cover;
    z-index: 2;
    text-align: center;
}
#join:before{
position: absolute;
content:"";
width:100%;
height:100%;
top:0;
left:0;
background-color: #171D70;
opacity: 50%;;;
z-index: -1;
}
#join h2{
    font-size:32px;
    font-weight: 500;
    color:white;
    margin-bottom:70px;
}
.started{
    width:150px;
    height:62px;
    display: block;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
 color:white;
    line-height: 62px;;
    background-image:linear-gradient(45deg ,#31398B ,#28EFEF) ;
    margin:0 auto;
    transition: all .5s;
}
.started:hover{
    background-image: none;;
color:#31398B;
background-color: white;
transition: all .5s;
}
#Currency{
    padding-top:134px;
    padding-bottom:35px;
}
.tabs{
    margin-top:50px;
}
.tabs .col-md-2{
    flex: 0 0 19.8888888888888%;
    max-width: 19.8888888888888%;
}
.tabs .nav-tabs .nav-link{
    font-size:14px;
    position: relative;
    color:#959595;
    border:0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: relative;
    padding:17px 28px;
}
.tabs .nav-tabs{
    margin-bottom:85px;
    position: relative;
border:0;
}
.tabs .nav-tabs:before{
    position: absolute;
    content:"";
    border:3px solid #707070;
    width:100%;
    bottom:-5px;
    left:0;
    opacity: 20%;;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border:0;
    color:#171D70;
    background-color: transparent;
}

.tabs .nav-tabs .nav-link.active::after{
    position: absolute;
    content:"";
    border:3px solid #171D70;
    width:100%;
    bottom:-5px;
    left:0;
}
.tabs .nav-tabs .nav-link:first-child{

    padding-left:0;
}
.tabs .nav-tabs .nav-link:last-child{
    padding-right:0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border:0;
    color:#171D70
}
.tabs nav{
display: inline-block;
}
.CurrencyBox{
    background-color:white;
    box-shadow: 0 5px 10px rgba(0,0,0,.1) ;
    border-bottom:4px solid #56C5CE;
    padding:30px 24px 11px;
    height:206px;
    
}
.CurrencyBox h4{
    font-size:18px;
    color:#222D39;
    margin:0;
    font-weight: 500;
}
.num{
    color:rgba(34, 45, 57, .54);
    font-size:20px;
    margin-top:30px;
}
.CurrencyBox .horizLine{
    margin:0 auto;
    margin-top:30px;
}
.BoxTails{
    margin-top:12px;

}
.boxTailImg{
    width:45px;
    margin:0 auto;
}
.BoxTails span{
font-size:22px;
   color:rgba(34, 45, 57, .24);
}
#convert{
    padding-top:55px;
    padding-bottom: 107px;
}
.Currencyhorz.horizLine{
    margin-top: 110px;

}
.convertBox{
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding:50px 0;
}
.convertBox .form-control,.output{
    width:259;
    border-radius: 3px;
    border:2px solid #ECECEC;
    margin: 0 auto;
    height:65px;
    font-size: 37px;
    color:#1E1713;
    text-align: center;

}
.convertForm {
    text-align: center;
}
.convertForm span{
    font-size:14px;
    color:#959595;
    display: block;

}
.convertForm span.equal{
font-size:29px;
color:#1E1713;
margin-top:20px;
margin-bottom:10px;
}
#choicecooin{
    border: 0;
    font-size: 16px;
    vertical-align: middle;
}
.convertSide{
    margin-left:75px;
}
.convertSide h4{
    font-size:28px;
    font-weight: 500;
    color:#171D70;;
    margin-bottom:15px;
}
.convertSide p{
    font-size:14px;
    color:#959595
}
.convertSide h6{
    color:#171D70;;
    font-size: 20px;
    margin-top:25px;
    margin-bottom:16px;
}
footer{
    background-color: #151515;
    color:white;
    padding-top:90px;
}
.footerTitle{
    font-size:19px;
    color:white;
    padding-bottom:25px;
    border-bottom:1px solid #56C5CE;
    display: inline-block;
}
.footerList{
    display: block;
}
.footerList li,.footerList li a{
    font-size:17px;
    color:rgba(255,255,255,.6);
    margin-top:25px;
}
.footerSocial li{
    display: inline-block;
    border:1px solid white;
    border-radius: 50%;
    width:43px;
    height:43px;
    text-align: center;
    margin-right:12px;
}
.footerSocial li i{
    color:white;
    line-height: 43px;;
 
}
.footerSocial li:hover{
    background-color: #255ef5;

}
footer .horizLine{
    border-top:1px solid #D8D8D8;
    opacity: .2;
    width:100%;
margin-top:80px;
margin-bottom:35px
}
.googlePlay{
    width:115px;
    display: inline-block;
}
.copyRight{
    margin-top:20px;
    text-align: center;
    font-size:13px;
    color:white;
    background-color: black;
    padding:16px 0;
}
#login{
    background-color: #F6F6F8;;
    padding-top:200px;
    padding-bottom:250px;
}
.loginForm{
    width:100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 3px;
    padding:34px 25px;
    text-align: center;
}
.loginForm .form-group{
    margin-bottom:16px;
}
.loginForm .form-control{
    width:100%;
    border:1px solid #EBEBEB;
    border-radius: 3px;
}
.loginForm .form-control::placeholder{
    font-size:14px;
    color:#B8B8B8
}
.loginForm h4{
    font-size:24px;
    color:#222D39;
    margin-bottom:14px;
}
.loginForm span{
    font-size:14px;
    color:#222D39;
    margin-bottom:22px;
}
.loginForm .loginLink{
    width:100%;


}
.btn.login:hover{
    color:white;
}
.loginForm .loginLink:hover .btn.login{
color:white;
}
.forgetLink{
    font-size:12px;
    color:#222D39;
}
.staylogged{
    font-size:12px;
    color:#222D39;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left:20px;
  }
  .staylogged input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border-radius: 3px;
    border:1px solid #EBEBEB;
  
  }

  .staylogged input:checked ~ .checkmark {
    background-color: #4EC6E1;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .staylogged input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .staylogged .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .signupLink{
      margin-top:24px;
      color:#222D39;
      font-size:14px;
  }
  .signupLink a{
      color:#4EC6E1;
  }
  .loginForm{
      position: relative;
  }
  .loginForm .close span{
      color:#E2E2E2;
      font-size:16px;
      top:11px;
      right:11px;
      position: absolute;
      opacity: 1;
  }
  .copyRight.innerCopy{
      margin-top:0;
  }
  .innerpage #aboutus,.innerpage #investment,.innerpage #Consortium,.innerpage #Currency{
      padding:30px 0;
  }
  .innerpage .aboutimg{
margin-bottom:0;

  }
  .navbar-expand-lg .navbar-nav .nav-link.active{
      color:#171D70;
  }
  .marketPage{
      padding-top: 60px;
      padding-bottom:50px;

  }
  .productImg{
      width:25%;
  }
  .productDesc h4{
      font-size:32px;
      color:#171D70;
      margin-bottom:25px;
  }
  .productDesc{
      width:73%;
      margin-left:15px;
  }
  .marketPage .horizLine{
      width:100%;
      margin-top:50px;
      margin-bottom:35px;
  }
  .marketPageTabs.nav-tabs .nav-link i{
      color:#959595;
  }
  .marketPageTabs.nav-tabs .nav-link{
      border:0;
  }
  .marketPageTabs.nav-tabs .nav-link:hover{
      border:0
  }
  .marketPageTabs.nav-tabs .nav-link.active{
      background-color:#F9F9F9;
      border:1px solid #DBDBDB;
      border-radius: 0;;
  }
  .marketPageTabs.nav-tabs{
      border:1px solid #DBDBDB;
      border-radius: 3px 0 0 3px;
  }
  .card.productBox{
border:0;
border-radius: 0;;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
height:395px;
margin-bottom:35px;
  }
  .card.productBox .card-img-top{
      height:45%;
      overflow: hidden;
      position: relative;
      border-radius: 0;
  }
  .productsHeader{
      margin-bottom:20px;
    
  }
  .status{
      position: absolute;
      z-index: 1;
      left:0;
      width:93px;
      height:33px;
      bottom:0;
      text-align: center;
      line-height:33px;
      color:white;
  }
  .tbox{
      background-color:#282E6A;
      left:94px;

  }
  .tbox .t,.investmentDetailsTable td .t,.Rating .t{
    border: 1px solid white;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    text-align: center;
    /* vertical-align: text-top; */
    line-height: 14px;
    font-size:11px;
    margin-right:4px;
  }
  .open{
      background-color: #4EC6E1;
      color:white;
  }
  .productBox  .card-body{
padding:13px 20px;
  }
  .productBox .card-title{
      font-size:22px;
      color:#222D39;
      margin-bottom:13px;
  }
  .productBox  .card-body li i{
      color:#4EC6E1;
      font-size:10px;
      margin-right:3px;
  }
  .productBox  .card-body li{
      margin-bottom:11px;
      font-size:10px;
      color:#1D1D1D
  }
  .complete{
      background-color: #C1C9CB;
      color:white;
  }
  .productBoxFooter .Rating p{
      font-size:9px;
      color:#717171;
      margin-top:15px;
  }
  .productBoxFooter{
      margin-top:25px;
  }
  .productBoxFooter .Rating{
      display: inline-block;
    
  }

  .Rating  h4{
      font-size:16px;
      font-weight: 500;
  }
  .B1{
      color: #00C871;
  }
  .C2{
      color:#F1A40A
  }
.verticalLine{
    border-left:1px solid #000;
    opacity: 20%;
    height:27px;
    margin:0 13px;
    padding:6px 0;
}
.Rating h5{
    font-size:14px;
    font-weight: 300;
    color:#1D1D1D;
}
.productBoxFooter .Rating:last-child{
    margin-right: 0;
}
.D3,.investmentDetailsTable td.D3{
    font-size:16px;
    font-weight: 500;
   color: #C800C8
}
.pagination{
    margin:0 auto;
    margin-top:45px;
}
.pagination span{
font-size:20px;
color:#717171;
margin:7px 17px;
}
.paginationArrow{
    width:50px;
    height:50px;
    border-radius: 5px;
    border:2px solid #ECECEC;
    text-align: center;
}
.paginationArrow i{
font-size: 16px;
color:#222D39;
line-height: 50px;;
}
.paginationArrow:hover{
background-color:#4EC6E1;

}
.paginationArrow:hover i{
    color:white;
}
.investmentDetailsPage{
    padding-top:80px;
    padding-bottom:100px;
}
.investmentDetailsPageBox .title h4{
    font-size:32px;
    color:#222D39;
}
.investmentDetailsPageBox .title span{
    font-size:14px;
    color:#959595;
}
.investmentDetailsPageBox .title{
    margin-bottom:66px;
}
.investmentDetailImg{
    width:100%;
    border-radius: 6px;
    overflow: hidden;
    height:362px;
    margin-bottom: 45px;
}
.investmentDetailsPageBox h5{
font-size:24px;
font-weight: 500;
color:#222D39;;
}
.investmentDetailsTable {
    margin-bottom:50px;
}
.investmentDetailsTable td{
    font-size:20px;
    color:#959595;
    border:0;
}

.investmentDetailsTable tr{
    padding:20px;
    border:0;
}
.investmentDetailsTable td .t{
    color:#959595;
    border:1px solid #959595;

}
.investmentDetailsTable tr:nth-child(odd){
    background-color:#F6F6F8
}
.investmentDetailsTable tr:nth-child(even){
    background-color:#fefefe
}
.moreDesc{
    font-size:24;
    margin-bottom:30px;
    color:#222D39;
    font-weight: 500;;
}
.investmentDetailsPageBox p{
    font-size:14px;
    color:#222D39;
    margin-bottom:85px;
}
.ProjectTimeLine{
    margin-top:55px;
}
.ProjectTimeLine h2{
font-size:32px;
color:#222D39;
margin-bottom:30px;
text-align: center;
}
.projectLine{
    position: absolute;
    margin-top:30px;
    width:2px;
    border-left:2px solid #56C5CE;
    height: 856px;
    left: 50%;
    top: 0;
}

.circle{
    background-color:#56C5CE;
    width:17px;
    height:17px;
    border:2px solid white;
    position: absolute;
    top: -17px;
    left: -9px;
    border-radius: 50%;;
    box-shadow:  0 3px 6px rgba(0, 0, 0, .16);
}
.circle.circle1{
    top:auto;
    bottom: -17px;
 
}
.projectLineBox{
    width:154px;
    border-radius: 3px;
    border:1px solid #ECECEC;
}
.modal.productModal{
top:22%;
}
#productModal .modal-dialog{
width:682px;
height:605px;
}
#productModal .modal-dialog .modal-body{
    padding:0;
}#productModal .modal-dialog .modal-body .card.productBox{
    margin-bottom:0;

}
#productModal .modal-dialog .modal-body .card.productBox .card-img-top{
    height:60%;
}
#productModal .modal-dialog .modal-body .card.productBox .productBoxFooter{
    margin-top:0;
    padding-top:20px;
    border-top:1px solid #ECECEC;
}
#productModal .modal-dialog .modal-body .card.productBox  .productBoxFooter .rating{
    padding:0 30px; 
}
#productModal .modal-dialog .modal-body .card.productBox  .card-body{
    padding:0;
    padding-top:14px;
}
.modalCon{
    padding-left:30px;
    padding-right:10px;
}
.Rating .t{
border:1px solid #1D1D1D
}
#productModal .verticalLine{
    margin: 0 -7px;
}
.readmoredetails{
    background-color: #F1F1F1;
    width:125px;
    border-radius: 3px;;
    font-size:14px;
    font-weight: 300;;
}
.readmoredetails:hover{
background-color: #4EC6E1;
color:white;
}
.projectLineBox {
    padding:12px;
}
.projectLineBox .icon{
    width:25%;

}
.proTitle h4{
font-size:16px;
color:#222D39;
opacity: 77%;
margin-bottom:0;
}
.row.margintop{
    margin-top:44px;
    position: relative;
}
.proTitle span{
    font-size:13px;
    color:#9D9DA7;
}
.proTitle{
    margin-left: 16px;
}
.rightSide{
    padding-right:18px
}
.rightSide .firstBox{
    margin-top: 144px;
    
}
.leftSide{
    padding-left:20px;
}
.LevelBox{
    background-color: white;;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding:24px 30px;
    margin-top:66px;
    border-radius: 6px;;
    width:400px;
}
.LevelBox h4{
    font-size:18px;
    color:#6F6F6F;
}
.LevelBox span{
font-size:14px;
color:#222D39;
}
.imagesBox{
    margin-top:15px;
}
.bigImg{
    width:48%;
    float:left;
    border-radius: 2px;;
    height:143px;
    overflow: hidden;
}
.smallImages{
    width: 49%;
    float: left;
    margin-left: 5px;;
}
.smallImg{
    width:100%;
    height:70px;
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 5px;
}
.smallImg:last-child{
    margin-bottom:0
}
/**************************************/
@media(min-width:320px) and (max-width:767px){
    .navbar{
        padding:10px;}
    .nav-link.active:before{
        display: none;
    }
    .logo {
        width: 130px;}


    .mobileMenu{
        cursor: pointer;
        width: 25px;
        height: 17px;
        margin: auto;
    }
    button.navbar-toggler {
        position: relative;
        border: none;
        height: 40px;
        cursor: pointer;
        border-radius: 0;
        opacity: .7;
        border:1px solid white;
        text-align: center;
    }
    .mobileMenu i{
        background-color: #4EC6E1;
        border-radius: 2px;
        content: '';
        display: block;
        width: 91%;
        height: 2px;
        margin-bottom: 6px;
}
.close{color:rgba(0,0,0,.2);
    position: absolute;
right:20px;
top:10px;
}
.mobileNav{
    padding:10px;
}


.mobileNav nav.navbar {
    width: 100%;   
    position: absolute; 
    z-index: 999999;
    top: 0;  
    right: 0;
    padding:0;

}
.mobileNav .navbar-collapse{
    background-color: white;
    text-align: center;
    padding:30px 0;
}
.mobileImg {
    display: none;
}
.topHeader{
    height:auto;
}
.headerSocial{
    text-align: left !important;
}.headerSocial li:first-child{
    border-left:0;
}
.contactInfo{
    display: none;
}
.menuBar{
    height:auto
}
.capCont{
    width:100%;
}
.carousel-inner .carousel-caption{
    top:5%;
}
.searchBox {

    padding: 28px 23px;}
    .selectric-wrapper {
        width: 100%;
        margin-bottom: 20px;}
        .loginLink {
      
            display: block;
     

            float: none !important;
            margin: 0 auto;
            margin-top:20px;
     
        }
.danaImg {
    width:80%;
    margin:0 auto;
}
#Consortium .col-lg-2{
    flex: 0 0 100%;
    max-width:100%;
}
.ConsortiumBox{
    margin-top:20px;
}
.tabs .nav-tabs .nav-link{
    font-size: 12px;
    padding: 15px 11px;
}
.tabs .col-md-2{
    flex: 0 0 100%;
    max-width:100%;
}
.CurrencyBox{
    margin-top: 20px;;
}
.convertSide{
    margin-left:0;
    margin-top:10px
}
.convertSide h4{
    font-size:25px;
}
footer .horizLine {

    margin-top: 30px;
    margin-bottom: 35px;
}
footer .col-md-6{
    text-align: left !important
}
.googlePlay{
    margin-top:20px;
}
.footerTitle{
    margin-top:20px;
}
.carousel-caption {
    right: 5%;
    left: 5%;
}
.carousel-caption p{
    margin-bottom:20px;
}
.carousel-control-prev, .carousel-control-next{
    display:none}
    .TeccoinBox {
       
        padding:  15px;
        right: 23%;
        top: 72%;
}
#productModal .modal-dialog{
width:90%;;
}
.LevelBox {

    padding: 10px;
    width: 100%;
}
.bigImg{
    width:100%;
    height:50px;
}
.smallImages{
    width:100%;
margin-left: 0;
}
.smallImg{
    height:auto;
    margin-left: 0;
    margin-top:5px;;
}
@media(min-width:768px)and (max-width:1024px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
}
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.logo{
    width:100%;
}
.navbar-brand {
    margin:0;
}
.navbar-expand-lg .navbar-nav .nav-link {
 padding: 6px;}
    .loginLink{
        padding: 6px;
        font-size:14px;
    }
}
